<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </head>
  <body class="bg-light-subtle">
	<h1 class="text-center fs-2 fw-bold" >高知のおいしい野菜と果物ショップ</h1>
    <div>
      <section class="bg-light mt-3">
        <h2 class="fs-5 p-2">高知特産「フルーツトマト」</h2>
        <div class="p-3">
          <p>
            高知市春野町のくぼファームで育てられたフルーツトマトをご案内いたします。<br />
            糖度は8度以上。甘いだけでなく酸味とのバランスのよいトマトです。
          </p>
          <div>
            <span class="small">【２０２４年２月より４月下旬頃まで販売予定】</span>
            <div>
              <img class="img-fluid " style="height: 300px; width: auto;" src="https://github.com/user-attachments/assets/cb5930c8-5028-4141-979f-4b26e2838b74" />
              <img class="img-fluid" style="height: 300px; width: auto;" src="https://github.com/user-attachments/assets/b69c0740-2b38-45cf-9103-691dbc0f30a9" />
            </div>
            <div class="text-end">
              <a href="#" class="btn btn-light shadow-sm">購入ページへ</a>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light mt-3">
        <h2 class="fs-5 p-2">高知特産の新生姜</h2>
        <div class="p-3">
          <div>
            <p>
              高知県は生姜の生産量、品質において全国のトップレベルです。
              <br />
              また、新生姜も全国屈指の生産量です。
              <br />
              当店お勧めの生産者さんの新生姜はとくにきれいで新鮮です。
            </p>
          </div>
          <div>
            <span class="small">【２０２４年３月より５月下旬頃まで販売予定】</span>
            <div>
              <img class="img-fluid" style="height: 300px; width: auto;" src="https://github.com/user-attachments/assets/3d4d3fe6-09d6-4ff9-b183-37f4270c997f" />
              <img class="img-fluid" style="height: 300px; width: auto;" src="https://github.com/user-attachments/assets/f24cb9be-21db-447f-abb7-25ac869f48cb" />
            </div>
            <div class="text-end">
              <a href="#" class="btn btn-light shadow-sm">購入ページへ</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
